doctype html
html(lang='pl')
 head
   title Integracja systemów
   head
        style
            include ./style.css
 body
  - columns = ["Lp.", " nazwa producenta", " przekątna ekranu", " rozdzielczość ekranu", " rodzaj powierzchni ekranu", " czy ekran jest dotykowy", " nazwa procesora", " liczba rdzeni fizycznych", " prędkość taktowania MHz", " wielkość pamięci RAM", " pojemność dysku", " rodzaj dysku", " nazwa układu graficznego", " pamięć układu graficznego", " nazwa systemu operacyjnego", " rodzaj napędu fizycznego w komputerze"];
  div(class='app-container')
    button(onclick="location.href='catalog?source=txt'" type='button') Importuj z TXT
    button(onclick="location.href='catalog?source=xml'" type='button') Importuj z XML
    button(onclick="location.href='catalog?source=db'" type='button') Importuj z bazy danych

    if data === undefined
      p(class='error-message') #{errorMessage}
      p Dane zostaną wyświetlone po zaimportowaniu.
    else
      button(onclick='save(\'txt\')') Eksportuj do TXT
      button(onclick='save(\'xml\')') Eksportuj do XML
      button(onclick='save(\'db\')') Eksportuj do bazy danych

      table(id='katalog')
        thead
          tr(class='header')
          each column of columns
            th #{column}
        each row of data
          tr
            - let i = -1
            each item in row
              if i == -1
                td(class='index') #{item}
              else
                td(id=i oninput='validate(this,'+i+')' contenteditable="true") #{item}
              - i++

      button(onclick='add()') Dodaj nowy
      br
      br
      p Liczba laptopów według poszczególnych producentów:
      table(id='manufacturers')
        each [key, value] of manufacturers.entries()
          if key == 'header'
            tr(class='header')
              each item in value
                th #{item}
          else
            tr
              td #{key}
              td #{value}

  script
      include catalog.js      

