doctype html
html(lang='pl')
 head
   title Integracja systemów
   head
        style
            include ./style.css
 body
  - data = data
  - manufacturers = manufacturers
  div(class='app-container')
    button(onclick="location.href='katalog'" type='button') Importuj z pliku
    if data === undefined
      p Dane zostaną wyświetlone po zaimportowaniu
    else
      button(onclick='save()') Eksportuj do pliku

      table(id='katalog')
        each [key, value] of data.entries()
          if key == 0
            tr(class='header')
              each item in value
                th #{item}
          else
            tr
              each item in value
                td(contenteditable="true") #{item}
      
      br
      br
      p Liczba laptopów według poszczególnych producentów:
      table(id='manufacturers')
        each [key, value] of manufacturers.entries()
          if key == 'header'
            tr(class='header')
              each item in value
                th #{item}
          else
            tr
              td #{key}
              td #{value}

  script
      include katalog.js      

