doctype html
html(lang='pl')
 head
   title Integracja systemów
   head
        style
            include ./style.css
 body
  div(class='app-container')
    button(onclick="location.href='katalog'" type='button') Importuj z TXT
    button(type='button') Importuj z XML

    if data === undefined
      p Dane zostaną wyświetlone po zaimportowaniu
    else
      button(onclick='save(\'txt\')') Eksportuj do TXT
      button(onclick='save(\'xml\')') Eksportuj do XML

      table(id='katalog')
        each [key, value] of data.entries()
          if key == 0
            tr(class='header')
              each item in value
                th #{item}
          else
            tr
              - let i = -1
              each item in value
                if i == -1
                  td(class='index') #{item}
                else
                  td(id=i oninput='validate(this,'+i+')' contenteditable="true") #{item}
                - i++

      button(onclick='add()') Dodaj nowy
      br
      br
      p Liczba laptopów według poszczególnych producentów:
      table(id='manufacturers')
        each [key, value] of manufacturers.entries()
          if key == 'header'
            tr(class='header')
              each item in value
                th #{item}
          else
            tr
              td #{key}
              td #{value}

  script
      include katalog.js      

